@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #71a89a;
    width: 100%;
}

header {

    font-family: 'Dosis', sans-serif;
}



.clima {
    display: flex;
    width: 100%;
    height: 50px;

}

.cajasClima {
    width: 100%;
    height: 50px;
}

.col-md-4 {
    display: block;

    width: 100%;
}

.clim {
    width: 40%;
    display: contents;
    font-size: 20px;
    align-items: center;

}

#icono-animado {
    height: 60px;
    width: 70px;

}

#caja1 {
    padding: 10px;
    padding-left: 50px
}

#caja3 {
    padding: 10px;
}


.main {
    background-image: url(../img/fondoForm.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.card {
    justify-content: center;
    align-items: center;
    margin: 4% 7%;
    box-shadow: 3px 3px 8px 4px black;

}

.datos {
    background-image: url(../img/fondoMatrix.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 60px 0;

}

form {

    background-image: linear-gradient(#1f4037, #99f2c8);
    border-radius: 10px;
    height: 470px;
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: 0 25%;
}


input {
    width: 60%;
    margin: 0 20%
}

label {
    margin-left: 13%;
}

li {
    padding-left: 20px;

}

.table {
    background-color: #99f2c8;
}

td {
    border-bottom: 0.5px solid black;
}

#detalles {
    width: 100px;
    height: 30px;
    font-size: 17px;
    font-weight: 800;
}

#finalizar {
    justify-content: flex-end;
    width: 30%;
    font-weight: 800;
    margin-left: 35%;
}

.detalles-compra {
    display: flex;
    background-color: rgb(58, 54, 54);
    font-family: 'Dosis', sans-serif;
    padding-top: 10%;
    color: aliceblue;
    flex-direction: column;

}

.result {
    font-size: 30px;
    text-shadow: 4px 2px black;
}

/* pix320-Inicio */
@media screen and (max-width:320px) {

    .navbar {
        width: 100%;
    }

    .clima {
        height: auto;
    }

    .row {
        height: 100%;
    }

    .col-md-4 {
        padding: 0;
        height: 100%;

    }

    .col-sm {
        margin-left: 0;
    }

    .card {
        margin: 0;
        margin-bottom: 4%;
    }

    form {
        width: 80%;
        margin-left: 10%;
    }

    .detalles-compra {
        padding-top: 10%;
    }

    #totalCelulares {
        margin-left: 10%;
    }

    #listaDetalles li {
        margin-left: 10%;
    }

    .nombre {
        width: 30%;
    }

    .modelo {
        width: 35%;
    }

    .id {
        width: 20%;
    }

    .cantidad {
        width: 15%;
    }
}

/* pix320-Final */

/* //pix480-Incio */
@media screen and (max-width:480px) and (min-width:321px) {
    .navbar {
        width: 100%;
    }

    .clima {
        width: auto;
        height: 100%;
        padding: 0;
        margin: 0;
    }

    .cajasClima {
        height: 100%;
    }

    .col-md-4 {
        padding: 0;
        height: 100%;
        margin-left: 25%;
    }

    #caja2 {
        margin-left: 32%;
    }



    .col-sm {
        margin-left: 10%;
    }

    .nombre {
        width: 25%;
    }

    .modelo {
        width: 45%;
    }

    .id {
        width: 15%;
    }

    .cantidad {
        width: 15%;
    }

    form {
        width: 80%;
        margin: 0 10%;
    }

}

/* pix480-Final */
/* pix768-Inicio */
@media screen and ((max-width:768px) and (min-width:481px)) {

    .navbar {
        width: 100%;
    }

    .row {
        height: 100%;
    }

    .col-md-4 {
        padding: 0;
        height: 100%;
        padding-left: 3%;
    }

    .col-sm {
        margin: 0 20%;
    }

    #totalCelulares {
        margin-left: 10%;
    }

    #listaDetalles li {
        margin-left: 10%;
    }

    .nombre {
        width: 30%;
    }

    .modelo {
        width: 35%;
    }

    .id {
        width: 20%;
    }

    .cantidad {
        width: 15%;
    }
}

/* pix768-Final */