@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

nav {
    width: 100%;
}

.row {
    margin: 0;
}

body {
    background-color: #71a89a;
    width: 100%;
}

header {

    font-family: 'Dosis', sans-serif;
}

.clim {
    font-size: 20px;

}

.clim1 {
    font-size: 20px;
}

.clima {


    height: auto;

}


#icono-animado {
    height: 60px;
    width: 70px;
}

#caja1 {
    padding: 10px;
    padding-left: 50px
}

#caja3 {
    padding: 10px;
}


.main {
    background-image: url(../img/fondoForm.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.card {

    margin: 4% 7%;
    box-shadow: 3px 3px 8px 4px black;

}

.datos {
    background-image: url(../img/fondoMatrix.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 60px 0;

}

form {

    background-image: linear-gradient(#1f4037, #99f2c8);
    border-radius: 10px;
    height: 470px;
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: 0 25%;
}


input {
    width: 60%;
    margin: 0 20%
}

label {
    margin-left: 13%;
}

li {
    padding-left: 20px;

}

.table {
    background-color: #99f2c8;
}

td {
    border-bottom: 0.5px solid black;
}

#detalles {
    width: 100px;
    height: 30px;
    font-size: 17px;
    font-weight: 800;
}

#finalizar {
    justify-content: flex-end;
    width: 30%;
    font-weight: 800;
    margin-left: 35%;
}

.detalles-compra {
    display: flex;
    background-color: rgb(58, 54, 54);
    font-family: 'Dosis', sans-serif;
    padding-top: 10%;
    color: aliceblue;
    flex-direction: column;

}

.result {
    font-size: 30px;
    text-shadow: 4px 2px black;
}

@media screen and(max-width:440px) {
    .card {
        margin: 4% 0;
    }
}

/* pix550-Inicio */
@media screen and (max-width:550px) {
    .clima {
        display: flex;
    }

    .row {
        flex-direction: column;
    }

    .row {
        width: 100%;
    }

    .col-sm {
        width: 70%;
        margin: 0 15%;
    }

    #caja2 {
        display: flex;
        align-items: center;
        height: auto;
    }

    #icono-animado {
        margin-left: 45%;
    }

    .card {
        margin: 4% 14%;
    }
}

/* pix575-Final */
/* pix575-Inicio */
@media screen and (max-width:575px) {

    .row {
        width: 100%;
    }

    .col-sm {
        width: 70%;
        margin: 0 15%;
    }

    .card {
        margin: 4% 14%;
    }
}

/* pix575-Final */
/* pix670-Inicio */
@media screen and (max-width:670px) {

    .main {
        padding: 0;
    }

    .col-sm {
        padding: 0;
    }
}

/* pix670-Final */
/* pix768-Inicio */
@media screen and (max-width:767px) {


    .navbar {

        width: 100%;

    }

    .clima {
        height: auto;
    }

    .clim {
        font-size: 20px;
        padding-left: 3%;
    }

    .clim1 {
        font-size: 20px;
    }


    .row {
        height: 100%;
        width: 100%;

    }

    .col-md-4 {

        display: contents;
    }



    #totalCelulares {
        margin-left: 10%;
    }

    #listaDetalles li {
        margin-left: 10%;
    }

    .nombre {
        width: 30%;
    }

    .modelo {
        width: 35%;
    }

    .id {
        width: 20%;
    }

    .cantidad {
        width: 15%;
    }
}

/* pix768-Final */